li {
    list-style-type: none;
    display: flex;
    padding: 10px;
}

li:nth-child(odd) {
    background-color: lightgray;
}

a:visited {
    color: inherit;
}

a,
a:hover,
.remove {
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
    font-weight: bold;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.form-control {
    border-radius: 0.25rem 0 0 0.25rem;
}

.btn {
    border-radius: 0 0.25rem 0.25rem 0;
}
