li {
    list-style-type: none;
    display: flex;
}

a:visited {
    color: inherit;
}

a,
a:hover,
.remove {
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
}

.completed {
    text-decoration: line-through;
}

input[type="checkbox"] {
    margin-right: 10px;
}
